<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" href="css/tutorial.css " type="text/css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script type="text/javascript" src="js/footer.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="images/CSGO.png" />
</head>
<body>
		<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<!-- <a class="navbar-brand" href="#">
				<img src="images/CSGO-logo.png" width="40" height="40">
			</a> -->
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="/weapons">Weapons</a>
					</li>
					<li class="nav-item active ">
						<a class="nav-link " href="#">Tutorial</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link " href="/Enquiry">Feedback</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12  main-img1"></div>
		</div>
		<div class="row">
			<div class="col-lg-4 offset-lg-4">
				<h1 class="text-center text-white">Silver Tips To Rank Up</h1>
				<br>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 offset-lg-1">
				<div class="col-lg-12 tt1"></div>
			</div>
			<div class="col-lg-4 offset-lg-1">
				<br>
				<br>
				<h4 class="text-white text-center">You shoud have a good pc.</h4>
				<h4 class="text-white text-center">Ping must be less than 80ms with less than 10 ms Jitter.</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 offset-lg-1">
				<br><br>
				<h4 class="text-white text-center">Proper Movement Control.</h4>
				<h4 class="text-white text-center">Reduce Crouching .</h4>
			</div>	
			<div class="col-lg-4 offset-lg-1">
				<div class="col-lg-12 tt2"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 offset-lg-1">
				<div class="col-lg-12 tt4"></div>
			</div>
			<div class="col-lg-4 offset-lg-1">
				<br>
				<br>
				<h4 class="text-white text-center">No "Cyka Blyat Rush B" required.</h4>
				<h4 class="text-white text-center">Proper Crosshair-Placements</h4>
				<!-- <h4 class="text-white text-left">For more follow any Pro Player or trust yourself.</h4> -->
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 offset-lg-1">
				<br><br>
				<h4 class="text-white text-center">Play In Team.</h4>
				<h4 class="text-white text-center">Properly Use Your Utilities.</h4>
			</div>	
			<div class="col-lg-4 offset-lg-1">
				<div class="col-lg-12 tt3"></div>
			</div>
		</div>
	</div>
	<footer class="foot">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-1 col-sm-1 offset-lg-5 offset-sm-4">
					<i class="fa fa-google-plus-square" aria-hidden="true"></i>
				</div>
				<div class="col-lg-1 col-sm-1">
					<i class="fa fa-facebook-square" aria-hidden="true"></i>
				</div>
				<div class="col-lg-1 col-sm-1">
					<i class="fa fa-twitter-square" aria-hidden="true"></i>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5 offset-lg-5 offset-sm-3">
					<p>Copyright &copy; hAtEr</p>
				</div>
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>	
</body>
</html>